/*
************************************************************************
GLOBAL HTML ELEMENTS
************************************************************************
*/

* {
    font-family: Lato, sans-serif;
    font-color: #eee;
}

h1 {
    font-weight: normal;
    margin: 7px auto 5px;
    font-size: 3em;
}

h2 {
    font-weight: normal;
    margin: 7px auto 5px;
    font-size: 3em;
}

h3 {
    color: #333;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #333;
}

footer p {
    color: #bbb;
    text-align: right;
    font-weight: lighter;
}

li {
    list-style-position: inside;
    font-size: 1em;
}

/*
************************************************************************
GLOBAL CLASSES
************************************************************************
*/

a:link {
    font-color: #eee;
}

a:visited {
    font-color: #eee;
}

.disabled, .disabled a {
    color: #bbb;
}

.selected, .selected a {
/*    color: #bbb;*/
    text-decoration:  underline;
}

.disabled a, .selected a {
    pointer-events: none;
    cursor: default;
}

.auth-link {
    text-align: right;
    padding: 0 3% 0;
    margin: 0;
    float: right;
}

.auth-link a {
    color: #bbb; 
}

/*
************************************************************************
IDs
************************************************************************
*/

#jay-name {
    display: none;
}

#top-header {
    text-align: center;
    font-weight: normal;
    background-color: #333;
    margin: 0;
    padding: 10px;;
    color: #fff;
    background-image: linear-gradient(#333 50%, #555);
    width: 100%;
}

#nav-header {
    margin: 0;
    padding: 5px;
    background-color: #fff;
    border-bottom: 2px solid #555;
}

#nav-header ul {
    margin: 0 ;
    text-align: center;
}

#nav-header li {
    list-style: none;
    display: inline;
    margin: 0 5px 0;
    padding: 5px;
    font-weight: normal;
}

#nav-header li a {
    text-decoration: none;
}

#entry-list div {
    background-color: #fff;
    padding: 5px;
    margin: 6px;
    color: #333;
    border-radius: 10px;
}

#entry-list li {
    list-style: none;
    font-size: 18px;
    margin: 0;
}

#entry-list p {
    margin: 0;
}

#title-box input {
    width: 100%;
}

#post-box textarea {
    width: 100%;
    height: 30em;
}

#button {
    text-align: center;
}

/*
************************************************************************
DETAIL VIEW AND MARKDOWN DEFINITIONS
************************************************************************
*/

#article-title {
    margin: 2%;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 3px;
    border-bottom: solid #bbb 1px;
}

#detail-view * {
    font-size: 1em;
}


#detail-view p {
    margin: 0 5%;
    font-weight: lighter;
    font-size: 0.8em;
}

#detail-view h1, h2, h3, h4 
{
    margin: 0 5%;
    font-weight: 400;
    font-size: 1em;
}

#detail-view h1 {
    font-size: 2em;
}

#detail-view h2 {
    font-size: 1.5em;
}

#detail-view h3 {
    font-size: 1.25em;
}

#detail-view h4 {}

#detail-view li {
    font-size: 0.9em;
    font-weight: 300;
    margin: 0 5% 
}

.codehilite {
    margin: 5%;
    font-weight: 300;
    font-size: 1em;
}

.codehilite pre{
    font-size: 10px;
}