{% extends "base.jinja2" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/pygments_default.css" type="text/css">
{% endblock %}
{% block nav %}
    <li><a href="{{ request.route_url('home') }}">Journal</a></li>
    <li><a href="{{ request.route_url('new') }}">New Entry</a></li>
    <li><a href="{{ request.route_url('edit', id=article.id) }}">Edit Entry</a></li>
{% endblock %}

{% block page_content %}
    <section id="detail-view">
        <h3 id="article-title">{{ article.created.strftime('%b. %d, %Y') }}: {{ article.title }}<h2>
        <div class="markdown">
            <p class>{{ article.render_text()|safe }}</p>          
        </div>
    </section>
{% endblock %}