{% extends "base.jinja2" %}

{% block nav %}
      <li><a href="/">Journal</a></li>
      <li class="selected"><a href="/new">New Entry</a></li>
      <li class="disabled"><a href="/edit">Edit Entry</a></li>        
{% endblock %}    


{% block page_content %}
  <section id="edit-view">
      <form>
          <p id="title-box">
              <label for="title">Title</label>
              <input id="title" name="Title" type="text" value="">
          </p>
          <p id="post-box">
              <label for="post-text">Post</label>
              <textarea id="post-text" name="Post" type="text"></textarea>
          </p>
           <div id="button">
               <button name="submit"><a href='/add'>Submit Changes</a></button>
          </div>
      </form>
  </section>
{% endblock %}